{% extends "base.html" %}

{% block content %}
<form action="/items" method="post">
<label for="name_of_item">Name:</label>
<input type="text" name="name_of_item" id="name_of_item" minlength="3"><br>
<label for="price_of_item">Price per item:</label>
<span class="input-symbol">
    <input type="number" min="0.00" name="price_of_item" id="price_of_item" max="10000.00" step="0.01">
</span><br>
<label for="quantity">How many items:</label>
<input type="number" name="quantity" id="quantity"><br>
<label for="recurring">Already bought?</label>
<input type="checkbox" name="bought_status" id="bought_status" value="False"><br>
<input type="submit" value="Add Item to Shopping List">
</form>


<h2>Fileter by Bought or not</h2>

<form action="/items/bought" method="get">
    <input type="submit" value="Bought">
</form>
<form action="/items/to_buy" method="get">
    <input type="submit" value="To Buy">
</form>
<form action="/items" method="get">
    <input type="submit" value="All">
</form>



{% for item in items %}
<h2>{{item.name_of_item}}</h2>
{% if item.discounted > 0 %}
<p>Discounted price: £{{ item.discounted }}</p>
<strike><p>Price: £{{item.price_of_item}}</p></strike>
{% else %}
<p>Price: £{{item.price_of_item}}</p>
{% endif %}
<p>Quantity: {{item.quantity}}</p>
<p>Bought: {% if item.bought_status %} Yes {% else %} No {% endif %}</p>
<form class="form-inline" action="/items/delete/{{ item.name_of_item }}" method="POST">
    <input type="submit" value="Delete">
</form>
{% endfor %}


<br><h2>Total price: £{{total}} </h2>
<br><h2>Total items: {{total_items}} </h2>


{% endblock %}
